@import 'variables';

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header {
  padding: 26px 0;
  transition: 0.3s padding ease-in-out;
  &.active {
    background-color: #F2F7FF;
    padding: 20px 0;
  }
  .btn {
    max-width: 200px;
    margin-left: 40px;
    @include media(mdx) {
      margin-left: 30px;
    }
  }
  &__wrap {
    display: flex;
    align-items: center;
    @include media(md) {
      justify-content: space-between;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    margin-right: auto;
    @include media(md) {
      display: none;
    }
  }
  &__link {
    cursor: pointer;
    font-size: 18px;
    line-height: 1.2;
    color: #111827;
    &:not(:last-child) {
      margin-right: 40px;
      @include media(mdx) {
        margin-right: 30px;
      }
    }
  }
  &__burger {
    cursor: pointer;
    display: block;
    width: 26px;
    height: 20px;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-right: 34px;
  }
}
