@import 'variables';

:host {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #A7B9FF;
  padding: 26px 0;
  @include media(md) {
    max-width: 450px;
    margin: 0 auto;
  }
  &:first-child {
    border-top: 2px solid #A7B9FF;
  }
  .btn {
    @include media(md) {
      margin: 0 auto;
    }
  }
}

.projects {
  &__title {
    width: 220px;
    padding-right: 20px;
    font-size: 24px;
    line-height: 1.25;
    color: #111827;
    margin-bottom: 14px;
    font-weight: 900;
    @include media(md) {
      width: 100%;
      text-align: center;
    }
  }
  &__text {
    width: calc(100% - 220px - 270px - 212px);
    margin-bottom: 14px;
    @include media(md) {
      width: 100%;
      text-align: center;
    }
    p {
      max-width: 374px;
      font-size: 18px;
      line-height: 1.6;
      color: #111827;
      @include media(md) {
        max-width: 100%;
        text-align: center;
      }
      @include media(sm) {
        font-size: 16px;
      }
    }
  }
  &__price {
    width: 270px;
    font-size: 24px;
    line-height: 1.25;
    color: #111827;
    text-transform: uppercase;
    padding-right: 45px;
    margin-bottom: 14px;
    font-weight: 900;
    @include media(md) {
      width: 100%;
      text-align: center;
      padding-right: 0;
    }
    span {
      &:first-child {
        padding-right: 5px;
      }
    }
  }
  &__text,
  &__title,
  &__price {
    padding-top: 14px;
    @include media(md) {
      padding-top: 0;
    }
  }
}
