@import 'variables';

.faq {
  &__holder {
    position: relative;
    cursor: pointer;
    display: block;
    border-bottom: 2px solid #DEDEDE;
    padding-top: 35px;
    padding-left: 74px;
    &.isOpen {
      .faq__text p {
        margin-top: 0;
      }
      .faq__image svg  {
        transform: rotate(45deg);
      }
    }
  }
  &__image {
    position: absolute;
    left: 10px;
    top: 38px;
    svg {
      display: block;
      transition: .3s ease-in-out;
    }
  }
  &__title {
    cursor: pointer;
    font-size: 26px;
    line-height: 1;
    color: #000000;
    padding-bottom: 35px;
    @include media(md) {
      font-size: 23px;
    }
    @include media(sm) {
      font-size: 18px;
    }
  }
  &__text {
    overflow: hidden;
    p {
      font-size: 20px;
      line-height: 1.5;
      color: #757575;
      padding-bottom: 35px;
      margin-top: -300%;
      transition: .3s ease-in-out;
      @include media(md) {
        font-size: 18px;
      }
      @include media(sm) {
        font-size: 16px;
      }
    }
  }
}
