<section class="contact">
  <div class="container">
    <p class="title title--inner">Залишимось на звʼязку!</p>
    <div class="contact__text">
      <p>Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.</p>
    </div>
    <a href="" class="contact__phone">+380 00 000 00 00</a>
    <a href="" class="contact__email">office@gamma.tech</a>
    <app-contact-form [style.maxWidth]="'592px'"></app-contact-form>
  </div>
</section>
