.area {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__label {
    display: block;
    font-size: 16px;
    line-height: 1.2;
    color: #111827;
    padding-bottom: 4px;
  }
  &__input {
    display: block;
    width: 100%;
    min-height: 135px;
    resize: none;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    padding: 15px 10px;
    margin-bottom: 25px;
    &.error {
      border-color: #ed273f;
    }
  }
}
